node_modules
dist
dist-ssr
*.local

.vite
coverage
playwright-report
test-results

.env
.env.local
.env.*.local

.DS_Store
Thumbs.db

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
