<div class="row p-3 mb-4 bg-body-tertiary rounded-3 text-center" style="min-height: 300px; margin: auto;">
    <div class="text-center">
        <p class="fs-4">A contagem de linhas é realizada de baixo para cima. Confira:</p>
        <br>
    </div>
    <div class="table-responsive text-center margin-auto">
        <table class="table table-bordered border-light w-50" style="margin: auto;">
            <thead>
            </thead>
            <tbody>
                <tr>
                    <!-- <td style="width: 100% !important;"><img src="../../assets/img/seminima.png"
                            style="max-width: 100%;" width="32" height="32" alt="Símbolo Seminima" /></td> -->
                </tr>
            </tbody>
        </table>
        <br>
    </div>
</div>