<div class="row p-3 mb-4 bg-body-tertiary rounded-3 text-center" style="min-height: 300px; margin: auto;">
    <div class="text-center">
        <p class="fs-4">Podemos pensar na figura que representa o dobro do tempo de uma semínima. O nome dessa figura é
            mínima. Ou seja, uma mínima tem a duração de duas semínimas.</p>
        <br>
    </div>
    <div class="table-responsive text-center margin-auto">
        <table class="table table-bordered border-light" style="margin: auto;">
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td style="width: 100% !important;"><img src="../../assets/img/minima.png" width="32"
                            height="32" alt="Símbolo Mínima" />&nbsp;&nbsp;&nbsp;&nbsp;
                        <img src="../../assets/img/igual.png" width="32" height="32"
                            alt="Sinal de Igual" />&nbsp;&nbsp;&nbsp;&nbsp;
                        <img src="../../assets/img/seminima.png" width="32" height="32"
                            alt="Símbolo Semínima" />&nbsp;&nbsp;&nbsp;&nbsp;
                        <img src="../../assets/img/plus.png" width="32" height="32"
                            alt="Sinal de Soma" />&nbsp;&nbsp;&nbsp;&nbsp;
                        <img src="../../assets/img/seminima.png" width="32" height="32" alt="Símbolo Semínima" />
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
    </div>
</div>