<div class="row p-3 mb-4 bg-body-tertiary rounded-3" style="min-height: 300px; margin: auto;">
    <div class="text-center">
        <p class="fs-4">Terceiro, podemos continuar dividindo as metades em duas partes iguais, ou seja, formaremos quatro retângulos conforme indicado abaixo:</p>
        <br>
    </div>
    <div class="table-responsive text-center">
        <table class="table table-bordered border-light">
            <thead>
            </thead>
            <tbody>
                <tr class="">
                    <td style="background-color: #E6972A; width: 25% !important;" class="fs-3">1/4</td>
                    <td style="background-color: #E6972A; width: 25% !important;" class="fs-3">1/4</td>
                    <td style="background-color: #E6972A; width: 25% !important;" class="fs-3">1/4</td>
                    <td style="background-color: #E6972A; width: 25% !important;" class="fs-3">1/4</td>
                </tr>
            </tbody>
        </table>
        <br>
    </div>
</div>