<!DOCTYPE html>
<html lang="pt-br" data-bs-theme="light">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Etapa 3 :: Módulo Musicalização</title>

    <!-- Ícone da guia -->
    <link href="../../assets/img/logo-ufpa.ico" rel="shortcut icon">

    <!-- Arquivos CSS do Bootstrap -->
    <link href="../../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Arquivo CSS principal -->
    <link href="../../assets/css/style.css" rel="stylesheet">

    <style>
        .unidades-tempo td {
            height: 42px !important;
            width: 25% !important;
        }
    </style>

</head>

<body>
    <div class="container page-container">
        <div class="row">
            <header id="header"
                class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
                <div id="home" class="d-flex align-items-center mb-2 mb-md-0">
                    <img src="../../assets/img/logo-ufpa.svg" width="90" height="52" alt="Beginner" />
                    &ensp;
                    <h1>Módulo de Musicalização para Sons Percussivos</h1>
                </div>

                <ul class="nav justify-content-center mb-md-0 text-end">
                    <li>
                        <button id="btnDiminuirFonte" class="nav-link px-2 btn btn-light"><img
                                src="../../assets/img/diminuir-fonte.svg" width="20" height="32"
                                title="Diminuir a fonte"></button>
                    </li>
                    <li>
                        <button id="btnAumentarFonte" class="nav-link px-2 btn btn-light"><img
                                src="../../assets/img/aumentar-fonte.svg" width="20" height="32"
                                title="Aumentar a fonte"></button>
                    </li>
                    <li>
                        <button id="btnAltoContraste" class="nav-link px-2 btn btn-light"><img
                                src="../../assets/img/contraste.svg" width="20" height="32" class="rounded-circle"
                                title="Alto Constraste"></button>
                    </li>
                    <li>
                        <button id="btnAcessibilidade"
                            class="d-block nav-link px-2 btn btn-light text-decoration-none dropdown-toggle"
                            id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false" title="Acessibilidade">
                            <img src="../../assets/img/duvida.svg" width="32" height="32">
                        </button>
                        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">

                            <li><a class="dropdown-item" href="#">Ajuda</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Sobre o projeto</a></li>
                        </ul>
                    </li>
                </ul>
            </header>
        </div>
        <div class="row">
            <section>
                <div class="container-fluid">
                    <div class="row text-center">
                        <h2 class="fw-bold">Etapa 3: Exercícios de Fixação</h2>
                        <p class="fs-4">Exercitando conceitos estudados nas etapas 1 e 2</p>
                    </div>
                    <!-- <div class="progress" role="progressbar" aria-label="Success example" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar bg-success" style="width: 25%">25%</div>
                    </div> -->
                    <div id="conteudo" class="row">

                    </div>

                    <!-- <div class="row align-items-md-stretch">
                        <div class="col-md-6">
                            <div class="h-100 p-5 text-bg-dark rounded-3">
                                <h2>Change the background</h2>
                                <p>Swap the background-color utility and add a `.text-*` color utility to mix up the
                                    jumbotron look. Then, mix and match with additional component themes and more.</p>
                                <button class="btn btn-outline-light" type="button">Example button</button>
                            </div>
                        </div>
                
                        <div class="col-md-6">
                            <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                                <h2>Add borders</h2>
                                <p>Or, keep it light and add a border for some added definition to the boundaries of
                                    your content. Be sure to look under the hood at the source HTML here as we've
                                    adjusted the alignment and sizing of both column's content for equal-height.</p>
                                <button class="btn btn-outline-secondary" type="button">Example button</button>
                            </div>
                        </div>
                    </div> -->

                    <div class="row pt-4">
                        <div class="col-6">
                            <div id="btnVoltar" type="button" class="btn btn-danger">Voltar</div>
                        </div>
                        <div class="col-6 text-end">
                            <div id="btnAvancar" type="button" class="btn btn-success">Avançar</div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="row">
            <footer id="footer" class="footer">
                <p class="text-center text-body-secondary">© Universidade Federal do Pará, 2023</p>
            </footer>
        </div>

        <div vw class="enabled">
            <div vw-access-button class="active"></div>
            <div vw-plugin-wrapper>
                <div class="vw-plugin-top-wrapper"></div>
            </div>
        </div>
    </div>

    <!-- Arquivos JS do VLibras -->
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
    </script>

    <!-- jQuery -->
    <script src="../../assets/vendor/jquery.js" type="text/javascript"></script>

    <!-- SweetAlert -->
    <script src="../../assets/vendor/sweetalert/js/sweetalert.js" type="text/javascript"></script>

    <script src="../../assets/js/main.js" type="text/javascript"></script>
    <script src="../../assets/js/etapa3.js" type="text/javascript"></script>

    <script type="text/javascript">

        // Modal de confirmação para retorno à tela principal
        $("#home").click(function (e) {

            // Altera tema utilizado pelo sweetAlert
            $("#swal2-theme").remove();

            var ss = document.createElement('link');
            ss.rel = "stylesheet";
            ss.href = `../../assets/vendor/sweetalert/css/${localStorage.getItem("dark-mode")}-sweetalert.min.css`;
            ss.id = "swal2-theme";

            document.head.appendChild(ss);

            e.preventDefault();
            Swal.fire({
                title: "Você deseja ir para a Tela Inicial?",
                html: `<div style="color: ${localStorage.getItem("color-text")}">O seu progresso nessa etapa poderá ser perdido!</div>`,
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Confirmar",
                cancelButtonText: "Cancelar",
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = "../../index.html";
                }
            });
        });
    </script>

    <!-- Arquivos JS do Bootstrap -->
    <script src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js" type="text/javascript"></script>
    <script src="../../assets/vendor/bootstrap/js/popper.min.js" type="text/javascript"></script>
</body>

</html>