<div class="row p-3 mb-4 bg-body-tertiary rounded-3" style="min-height: 400px;">
    <div class="text-center">
        <p class="fs-4">Configure os dois compassos com as figuras rítmicas disponíveis e se divirta.</p>
        <br>
    </div>
    <div class="py-2 table-responsive text-center">
        <table class="table table-bordered border-light">
            <thead>
                <tr style="border: none;">
                    <th id="th-1" style="border: none;" scope="col" colspan="0">1º Compasso</th>
                </tr>
            </thead>
            <tbody>
                <tr class="unidades-tempo compasso-1">
                </tr>
            </tbody>
        </table>
        <br>
        <table class="table table-bordered border-light">
            <thead>
                <tr style="border: none;">
                    <th id="th-2" style="border: none;" scope="col" colspan="0">2º Compasso</th>
                </tr>
            </thead>
            <tbody>
                <tr class="unidades-tempo compasso-2">
                </tr>
            </tbody>
        </table>
    </div>
    <h4 class="pt-5">Clique nos botões abaixo para definir a sequência rítmica do compasso:</h4>
    <div class="container text-center">
        <div class="row align-items-center">
            <div class="col-6 col-md-3 py-4">
                <button id="btnSeminima" type="button" class="btn"
                    style="background-color: #17867C; color: white;">Semínima</button>
            </div>
            <div class="col-6 col-md-3">
                <button id="btnColcheia" type="button" class="btn"
                    style="background-color: #E6972A; color: white;">Colcheia</button>
            </div>
            <div class="col-6 col-md-3">
                <button id="btnSemicolcheia" type="button" class="btn"
                    style="background-color: #B9C303; color: white;">Semicolcheia</button>
            </div>
            <div class="col-6 col-md-3">
                <button id="btnSemibreve" type="button" class="btn"
                    style="background-color: #820742; color: white;">Semibreve</button>
            </div>
        </div>
    </div>
    <p class="pt-5 fs-4" style="text-align: start !important;"><u>Legenda de Cores</u></p>
    <div class="table-responsive">
        <table class="table">
            <tbody>
                <tr style="width: 50%;">
                    <td style="background-color: #17867C;"><img src="../../assets/img/seminima.png" width="32" height="32"
                        alt="Símbolo Seminima" /></td>
                    <td style="width: 45%;">Semínima</td>
                    <td style="background-color: #B9C303;"><img src="../../assets/img/semicolcheia.png" width="32" height="32"
                        alt="Símbolo Semicolcheia" /></td>
                    <td style="width: 45%;">Semicolcheia</td>
                </tr>
                <tr>
                    <td style="background-color: #E6972A;"><img src="../../assets/img/colcheia.png" width="32" height="32"
                        alt="Símbolo Colcheia" /></td>
                    <td>Colcheia</td>
                    <td style="background-color: #820742;"><img src="../../assets/img/semibreve.png" width="32" height="32"
                        alt="Símbolo Semibreve" /></td>
                    <td>Semibreve</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        let numeroCompasso = 0;
        let figurasPrimeiroCompasso = 0;
        let figurasSegundoCompasso = 0;

        $("#btnSeminima").click(function (e) { adicionaFigura(this.id); });
        $("#btnColcheia").click(function (e) { adicionaFigura(this.id); });
        $("#btnSemicolcheia").click(function (e) { adicionaFigura(this.id); });
        $("#btnSemibreve").click(function (e) { adicionaFigura(this.id); });

        function adicionaFigura(botao) {

            if (figurasPrimeiroCompasso < 2) {
                numeroCompasso = 1;
                figurasPrimeiroCompasso++;
            } else if (figurasSegundoCompasso < 2) {
                numeroCompasso = 2;
                figurasSegundoCompasso++;
            } else {
                numeroCompasso = 0;
                alteraTemaSwal();
                Swal.fire({
                    icon: "warning",
                    title: "Compasso Completo!",
                    confirmButtonColor: "#28A745",
                    cancelButtonColor: "#DC3545",
                    showCancelButton: true,
                    confirmButtonText: "Sim",
                    cancelButtonText: "Não",
                    html: `<div style="color: ${localStorage.getItem("color-text")}">As unidades de tempo dos dois compassos já foram preenchidas. Você deseja limpar os compassos e começar novamente?</div>`,
                }).then((result) => {
                    if (result.isConfirmed) {
                        limparCompassos();
                        Swal.fire({
                            icon: "success",
                            title: "Feito!",
                            timer: 1500,
                            showConfirmButton: false,
                            timerProgressBar: true,
                        });
                    }
                });
                return;
            }

            if (numeroCompasso == 0) {
                exibirMensagemErro();
                return;
            }

            let auxiliar;
            switch (botao) {
                case "btnSemibreve":
                    $(`.compasso-${numeroCompasso}`).append(`<td style="background-color: #820742; width: 50% !important;"><img src="../../assets/img/semibreve.png" width="32" height="32"
                        alt="Símbolo Semibreve" /></td>`);

                    auxiliar = parseInt($(`#th-${numeroCompasso}`).attr("colspan"));
                    $(`#th-${numeroCompasso}`).attr("colspan", auxiliar + 1);
                    break;

                case "btnSeminima":
                    $(`.compasso-${numeroCompasso}`).append(`<td style="background-color: #17867C; width: 25% !important;"><img src="../../assets/img/seminima.png" width="32" height="32"
                        alt="Símbolo Seminima" /></td>`);
                    $(`.compasso-${numeroCompasso}`).append(`<td style="background-color: #17867C; width: 25% !important;"><img src="../../assets/img/seminima.png" width="32" height="32"
                        alt="Símbolo Seminima" /></td>`);

                    auxiliar = parseInt($(`#th-${numeroCompasso}`).attr("colspan"));
                    $(`#th-${numeroCompasso}`).attr("colspan", auxiliar + 2);
                    break;

                case "btnColcheia":
                    $(`.compasso-${numeroCompasso}`).append(`<td style="background-color: #E6972A; width: 12.5% !important;"><img src="../../assets/img/colcheia.png" width="32" height="32"
                        alt="Símbolo Colcheia" /></td>`);
                    $(`.compasso-${numeroCompasso}`).append(`<td style="background-color: #E6972A; width: 12.5% !important;"><img src="../../assets/img/colcheia.png" width="32" height="32"
                        alt="Símbolo Colcheia" /></td>`);
                    $(`.compasso-${numeroCompasso}`).append(`<td style="background-color: #E6972A; width: 12.5% !important;"><img src="../../assets/img/colcheia.png" width="32" height="32"
                        alt="Símbolo Colcheia" /></td>`);
                    $(`.compasso-${numeroCompasso}`).append(`<td style="background-color: #E6972A; width: 12.5% !important;"><img src="../../assets/img/colcheia.png" width="32" height="32"
                        alt="Símbolo Colcheia" /></td>`);

                    auxiliar = parseInt($(`#th-${numeroCompasso}`).attr("colspan"));
                    $(`#th-${numeroCompasso}`).attr("colspan", auxiliar + 4);
                    break;

                case "btnSemicolcheia":
                    $(`.compasso-${numeroCompasso}`).append(`<td style="background-color: #B9C303; width: 6.25% !important;"><img src="../../assets/img/semicolcheia.png" width="32" height="32"
                        alt="Símbolo Semicolcheia" /></td>`);
                    $(`.compasso-${numeroCompasso}`).append(`<td style="background-color: #B9C303; width: 6.25% !important;"><img src="../../assets/img/semicolcheia.png" width="32" height="32"
                        alt="Símbolo Semicolcheia" /></td>`);
                    $(`.compasso-${numeroCompasso}`).append(`<td style="background-color: #B9C303; width: 6.25% !important;"><img src="../../assets/img/semicolcheia.png" width="32" height="32"
                        alt="Símbolo Semicolcheia" /></td>`);
                    $(`.compasso-${numeroCompasso}`).append(`<td style="background-color: #B9C303; width: 6.25% !important;"><img src="../../assets/img/semicolcheia.png" width="32" height="32"
                        alt="Símbolo Semicolcheia" /></td>`);
                    $(`.compasso-${numeroCompasso}`).append(`<td style="background-color: #B9C303; width: 6.25% !important;"><img src="../../assets/img/semicolcheia.png" width="32" height="32"
                        alt="Símbolo Semicolcheia" /></td>`);
                    $(`.compasso-${numeroCompasso}`).append(`<td style="background-color: #B9C303; width: 6.25% !important;"><img src="../../assets/img/semicolcheia.png" width="32" height="32"
                        alt="Símbolo Semicolcheia" /></td>`);
                    $(`.compasso-${numeroCompasso}`).append(`<td style="background-color: #B9C303; width: 6.25% !important;"><img src="../../assets/img/semicolcheia.png" width="32" height="32"
                        alt="Símbolo Semicolcheia" /></td>`);
                    $(`.compasso-${numeroCompasso}`).append(`<td style="background-color: #B9C303; width: 6.25% !important;"><img src="../../assets/img/semicolcheia.png" width="32" height="32"
                        alt="Símbolo Semicolcheia" /></td>`);

                    auxiliar = parseInt($(`#th-${numeroCompasso}`).attr("colspan"));
                    $(`#th-${numeroCompasso}`).attr("colspan", auxiliar + 8);
                    break;

                default:
                    exibirMensagemErro();
                    break;
            }
        }

        function exibirMensagemErro() {
            alteraTemaSwal();
            Swal.fire({
                icon: "error",
                title: "Erro inesperado!",
                html: `<div style="color: ${localStorage.getItem("color-text")}">Por favor, tente novamente mais tarde.</div>`,
                confirmButtonColor: "#3085d6",
                footer: '<a href="https://github.com/andresantana99/modulo-musicalizacao">Precisa de ajuda? Contate-nos.</a>',
            });
        }

        function limparCompassos() {
            $(".unidades-tempo").children("td").remove();
            numeroCompasso = figurasPrimeiroCompasso = figurasSegundoCompasso = 0;
        }

        function alteraTemaSwal() {
            $("#swal2-theme").remove();

            var ss = document.createElement('link');
            ss.rel = "stylesheet";
            ss.href = `../../assets/vendor/sweetalert/css/${localStorage.getItem("dark-mode")}-sweetalert.min.css`;
            ss.id = "swal2-theme";
            document.head.appendChild(ss);
        }
    });
</script>