<div class="row p-3 mb-4 bg-body-tertiary rounded-3" style="min-height: 400px;">
    <div class="text-center">
        <p class="fs-4">Nossos exercícios consistirão em dois compassos com 4 unidades de
            tempo cada. Observe o resultado com 4 semibreves:</p>
        <br>
    </div>
    <div class="py-2 table-responsive text-center">
        <table class="table table-bordered border-light">
            <thead>
                <tr style="border: none;">
                    <th style="border: none;" scope="col" colspan="2">1º Compasso</th>
                </tr>
            </thead>
            <tbody>
                <tr class="unidades-tempo">
                    <td style="background-color: #820742; width: 50% !important;"><img src="../../assets/img/semibreve.png" width="32" height="32"
                        alt="Símbolo Semibreve" /></td>
                    <td style="background-color: #820742; width: 50% !important;"><img src="../../assets/img/semibreve.png" width="32" height="32"
                        alt="Símbolo Semibreve" /></td>
                </tr>
            </tbody>
        </table>
        <br>
        <table class="table table-bordered border-light">
            <thead>
                <tr style="border: none;">
                    <th style="border: none;" scope="col" colspan="2">2º Compasso</th>
                </tr>
            </thead>
            <tbody>
                <tr class="unidades-tempo">
                    <td style="background-color: #820742; width: 50% !important;"><img src="../../assets/img/semibreve.png" width="32" height="32"
                        alt="Símbolo Semibreve" /></td>
                    <td style="background-color: #820742; width: 50% !important;"><img src="../../assets/img/semibreve.png" width="32" height="32"
                        alt="Símbolo Semibreve" /></td>
                </tr>
            </tbody>
        </table>
    </div>
    <p class="pt-4 fs-4" style="text-align: start !important;"><u>Legenda de Cores</u></p>
    <div class="table-responsive">
        <table class="table">
            <tbody>
                <tr style="width: 50%;">
                    <td style="background-color: #820742;"><img src="../../assets/img/semibreve.png" width="32" height="32"
                        alt="Símbolo Semibreve" /></td>
                    <td style="width: 45%;">Semibreve</td>
                    <td style="background-color: #17867C;"><img src="../../assets/img/seminima.png" width="32" height="32"
                        alt="Símbolo Seminima" /></td>
                    <td style="width: 45%;">Semínima</td>
                </tr>
                <tr>
                    <td style="background-color: #E6972A;"><img src="../../assets/img/colcheia.png" width="32" height="32"
                        alt="Símbolo Colcheia" /></td>
                    <td>Colcheia</td>
                    <td style="background-color: #B9C303;"><img src="../../assets/img/semicolcheia.png" width="32" height="32"
                        alt="Símbolo Semicolcheia" /></td>
                    <td>Semicolcheia</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>