<div class="row p-3 mb-4 bg-body-tertiary rounded-3" style="min-height: 400px; margin: auto;">
    <div class="text-center">
        <p class="fs-4 fw-bold">Vídeo 2 sobre percussão:</p>
        <br>
        <!-- <p class="fs-4">Nossos exercícios consistirão em dois compassos com 4 unidades de
            tempo cada. Observe o resultado do compasso com 8 semínimas:</p>
        <br> -->
    </div>
    <iframe height="420" style="width: 1500px;" src="https://www.youtube.com/embed/ayDohuoqnIs?si=UfCc_EGaAi4EWti6"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <div class="text-center pt-3">
        <p class="fs-6">Vídeo anexado neste módulo em 22/01/2025</p>
    </div>
</div>