@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans&display=swap');

:root {
    --dark-mode: #000;
    --light-mode: #fff;
    --btn-bg: rgba(255, 255, 255, 0.125);
    --btn-bg-hover: #d3d4d58c;
  }

* {
    box-sizing: border-box;
}

#page-container {
  position: relative;
  min-height: 95vh;
}

body {
    margin: 0;
    font-family: 'Shantell Sans', cursive;
}

.page-container .row #conteudo{
    padding-bottom: 5.5rem;
    margin: auto;
    height: calc(100vh - 30vh);
    display: table; 
    justify-content: center; 
    align-items: center;
}

.div-beginner, .div-finish{
    padding-top: 1rem; 
    padding-bottom: 1.5rem; 
    width: 135px; 
    height: 160px;
}

.div-finish {
    padding-top: 1.5rem; 
    padding-bottom: 2rem;  
    width: 120px; 
    height: 160px;
}

#btn-EtapaInicial, #btn-SelecaoEtapa{
    padding: 1rem;
    height: 100%;
    max-height: 16rem;
    min-height: 10rem;
    max-width: 16.75rem;
    min-width: 10.75rem;    
}

.page-container .row #footer {
    position: fixed;
    padding-top: 1rem;
    background-color: var(--light-mode);
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

h1 {
    font-family: 'Shantell Sans', cursive;
    font-size: 25px;
    padding-top: 10px;
}

h5 {
    font-size: 16px;
}