<div class="row p-3 mb-4 bg-body-tertiary rounded-3 text-center" style="min-height: 300px; margin: auto;">
    <div class="text-center">
        <p class="fs-4">A figura de mínima pontuada indica o tempo da mínima acrescido da metade do tempo da mesma. Ou seja, uma mínima mais uma semínima:</p>
        <br>
    </div>
    <div class="table-responsive text-center margin-auto">
        <table class="table table-bordered border-light" style="margin: auto;">
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td style="width: 100% !important;"><img src="../../assets/img/minima-pontuada.png" width="30"
                            height="52" alt="Símbolo Minima Pontuada" />&nbsp;&nbsp;&nbsp;&nbsp;
                        <img src="../../assets/img/igual.png" width="32" height="32"
                            alt="Sinal de Igual" />&nbsp;&nbsp;&nbsp;&nbsp;
                        <img src="../../assets/img/minima.png" width="32" height="32"
                            alt="Símbolo Mínima" />&nbsp;&nbsp;&nbsp;&nbsp;
                        <img src="../../assets/img/plus.png" width="32" height="32"
                            alt="Sinal de Soma" />&nbsp;&nbsp;&nbsp;&nbsp;
                        <img src="../../assets/img/seminima.png" width="32" height="32" alt="Símbolo Seminima" />
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
    </div>
</div>