<div class="row p-3 mb-4 bg-body-tertiary rounded-3" style="min-height: 400px; margin: auto;">
    <div class="text-center">
        <p class="fs-4">Nesta etapa, apresentamos os elementos básicos da bateria. Como exemplo complementar, assista a mais este vídeo. A música <i>It's my life</i> do cantor Bon Jovi.</p>
        <br>
    </div>
    <iframe height="420" style="width: 1500px;" src="https://www.youtube.com/embed/yOs7MTgowig?si=36OAyaZlDzmQZTxY"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <div class="text-center pt-3">
        <p class="fs-6">Vídeo anexado neste módulo em 26/04/2026</p>
    </div>
</div>