<div class="row p-3 mb-4 bg-body-tertiary rounded-3 text-center" style="min-height: 300px; margin: auto;">
    <div class="text-center">
        <p class="fs-4">Se compararmos os elementos Bumbo, Caixa e Chimbal, temos que o Bumbo é o que emite sons mais graves. Por isso, na pauta ou pentagrama, ele fica indicado na posição mais baixa. Veja este exemplo:</p>
        <br>
    </div>
    <div class="table-responsive text-center margin-auto">
        <table class="table table-bordered border-light w-100" style="margin: auto;">
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td style="width: 100% !important;"><img src="../../assets/img/imag1_etapa2.png" style="max-width: 100%;"
                            alt="" /></td>
                </tr>
            </tbody>
        </table>
        <br>
    </div>
</div>