<div class="row p-3 mb-4 bg-body-tertiary rounded-3" style="min-height: 400px; margin: auto;">
    <div class="text-center pt-3">
        <p class="fs-4 fw-bold">Depois veremos outros elementos. Mas, agora iremos enfatizar em como identificá-los em
            notação musical.</p>
        <br>
        <p class="fs-4">As partituras musicais se baseiam no uso da pauta ou pentagrama. A pauta é formada por cinco linhas e quatro espaços. Veja a ilustração abaixo:</p>
        <br>
    </div>
    <div class="table-responsive text-center margin-auto">
        <table class="table table-bordered border-light w-100" style="margin: auto;">
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td style="width: 120% !important;"><img src="../../assets/img/pauta0.png" style="max-width: 100%;"
                            alt="Pauta ou Pentagrama" /></td>
                </tr>
            </tbody>
        </table>
        <br>
    </div>
</div>