<div class="row p-3 mb-4 bg-body-tertiary rounded-3" style="min-height: 400px; margin: auto;">
    <div class="text-center pt-3">
        <p class="fs-4 fw-bold">Para terminarmos, vale a pena falar do artifício de Ponto de Aumento.</p>
        <br>
        <p class="fs-4">Esse ponto pode ser utilizado em conjunto com cada figura apresentada anteriormente. 
            Ele vai indicar a adição da metade do tempo da figura que está ao lado esquerdo dele. Vejamos os exemplos nas próximas telas.</p>
        <br>
    </div>
    
</div>