<div class="row p-3 mb-4 bg-body-tertiary rounded-3" style="min-height: 400px; margin: auto;">
    <div class="text-center pt-3">
        <p class="fs-4">[Refazer utilizando os símbolos de pausa para 1 tempo, meio tempo, um quarto de tempo; 2 tempos e 4 tempos.]</p>
        <br>
    </div>
    <div class="table-responsive text-center margin-auto">
        <table class="table table-bordered border-light" style="margin: auto;">
            <thead>
            </thead>
            <tbody>
                <tr>
                    
                </tr>
            </tbody>
        </table>
        <br>
    </div>
</div>