<div class="row p-3 mb-4 bg-body-tertiary rounded-3 text-center" style="min-height: 300px; margin: auto;">
    <div class="text-center">
        <p class="fs-4">A figura que representa a metade de uma colcheia, é chamada de semicolcheia. Ou seja, o tempo de
            duas semicolcheias é igual à duração de tempo de uma colcheia.</p>
        <br>
    </div>
    <div class="table-responsive text-center margin-auto">
        <table class="table table-bordered border-light w-50" style="margin: auto;">
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td style="width: 100% !important;"><img src="../../assets/img/semicolcheia.png" width="32" height="32"
                            alt="Símbolo Seminima" />&nbsp;&nbsp;&nbsp;&nbsp;
                        <img src="../../assets/img/plus.png" width="32" height="32"
                            alt="Símbolo Seminima" />&nbsp;&nbsp;&nbsp;&nbsp;
                        <img src="../../assets/img/semicolcheia.png" width="32" height="32"
                            alt="Símbolo Seminima" />&nbsp;&nbsp;&nbsp;&nbsp;
                        <img src="../../assets/img/igual.png" width="32" height="32"
                            alt="Símbolo Seminima" />&nbsp;&nbsp;&nbsp;&nbsp;
                        <img src="../../assets/img/colcheia.png" width="32" height="32" alt="Símbolo Seminima" />
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
    </div>
</div>