<div class="row p-3 mb-4 bg-body-tertiary rounded-3 text-center" style="min-height: 300px; margin: auto;">
    <div class="text-center">
        <p class="fs-4">A figura que representa o quádruplo do tempo da unidade de pausa é chamada de Pausa da Semibreve. Ou seja, o tempo de pausa de duas mínimas é igual à duração de tempo de pausa de uma Semibreve:</p>
        <br>
    </div>
    <div class="table-responsive text-center margin-auto">
        <table class="table table-bordered border-light" style="margin: auto;">
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td style="width: 100% !important;"><img src="../../assets/img/pausa-minima.png" width="52" height="52"
                            alt="Símbolo Pausa Mínima" />&nbsp;&nbsp;&nbsp;&nbsp;
                        <img src="../../assets/img/plus.png" width="32" height="32"
                            alt="Sinal de Soma" />&nbsp;&nbsp;&nbsp;&nbsp;
                        <img src="../../assets/img/pausa-minima.png" width="52" height="52"
                            alt="Símbolo Pausa Mínima" />&nbsp;&nbsp;&nbsp;&nbsp;
                        <img src="../../assets/img/igual.png" width="32" height="32"
                            alt="Sinal de Igual" />&nbsp;&nbsp;&nbsp;&nbsp;
                        <img src="../../assets/img/pausa-semibreve.png" width="52" height="52" alt="Símbolo Pausa Semibreve" />
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
    </div>
</div>